@import './fonts/Roboto/Roboto.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

main {
  width: calc(100% - 50px);
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
  font-size: 0.8em !important;
}

.roboto-black {
  font-family: 'Roboto-Black';
}

.roboto-bold {
  font-family: 'Roboto-Bold';
}

.roboto-medium {
  font-family: 'Roboto-Medium';
}

.roboto-regular {
  font-family: 'Roboto-Regular';
}

.roboto-light {
  font-family: 'Roboto-Light';
}

h1 {
  font-family: 'Roboto-Black';
}

h2 {
  font-family: 'Roboto-Bold';
}

h3 {
  font-family: 'Roboto-Medium';
}

span,
button {
  font-family: 'Roboto-Regular';
}

p,
li {
  font-family: 'Roboto-Light';
}
